body {
    font-family: 'Nunito Sans', sans-serif;
}
.header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg)
}